<!DOCTYPE html>
<html lang="en"><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="static/favicon.ico">

    <title>WildfireAnalysis</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer/">

    <!-- Bootstrap core CSS -->
    <link href="static/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/sticky-footer.css" rel="stylesheet">
  </head>

  <body>

    <!-- Begin page content -->
    <main role="main" class="container">
      <h1 class="mt-5">WildfireAnalysis</h1>
      <p class="lead">Input data here.</p>
      <br>
      <form method="GET" action="/api/predict">
        <div class="form-group">
          <div class="form-group row">
            <label for="month" class="col-sm-2 col-form-label">Month</label>
            <div class="col-sm-10">
              <select class="form-control" name="month" id="month">
                {% for val in mth %}
                  <option>{{ val }}</option>
                {% endfor %} 
              </select> 
            </div>  
          </div>  
          <div class="form-group row">
            <label for="county" class="col-sm-2 col-form-label">County</label>
            <div class="col-sm-10">
              <select class="form-control" name="county" id="county">
                {% for val in cnt %}
                  <option>{{ val }}</option>
                {% endfor %} 
              </select> 
            </div>  
          </div>
          <div class="form-group row">
            <label for="cause" class="col-sm-2 col-form-label">Cause</label>
            <div class="col-sm-10">
              <select class="form-control" name="cause" id="cause">
                {% for val in cau %}
                  <option>{{ val }}</option>
                {% endfor %} 
              </select> 
            </div>  
          </div>
          <div class="form-group row">
            <label for="binlat" class="col-sm-2 col-form-label">Latitude Bin</label>
            <div class="col-sm-10">
              <select class="form-control" name="binlat" id="binlat">
                {% for val in lat %}
                  <option>{{ val }}</option>
                {% endfor %} 
              </select> 
            </div>  
          </div>
          <div class="form-group row">
            <label for="binlon" class="col-sm-2 col-form-label">Longitude Bin</label>
            <div class="col-sm-10">
              <select class="form-control" name="binlon" id="binlon">
                {% for val in lon %}
                  <option>{{ val }}</option>
                {% endfor %} 
              </select> 
            </div>  
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>   
          <small id="urlHelp" class="form-text text-muted">Please select complete data here.</small>
        </div>

        <div id="result">
          
        </div>
  
      </form>
      
    </main>

    <footer class="footer">
      <div class="container">
        <span class="text-muted">michaelpeterswa + nlatham1999 | 2021</span>
      </div>
    </footer>
  

</body></html>